 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/d550defb974938161a70a51a7ce7828900c844574e6625d7ba9ebce1f07a1fd07b6aedf714839a63fac3f32617e49fa7e915c061dd80a12c15ee23_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-1 .u-text-1 {
  font-family: "Ballet 16pt";
  margin: 30px 23px 0;
}

.u-section-1 .u-list-1 {
  width: 806px;
  margin: 30px 22px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 898px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Georgia, serif;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Georgia, serif;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Georgia, serif;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  margin: 12px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 156px;
  height: 209px;
  margin: 4px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 649px;
  height: auto;
  width: 274px;
  background-image: linear-gradient(#fef9e6, #adf6f2);
  margin: -898px auto 60px 15px;
}

.u-section-1 .u-container-layout-10 {
  padding: 12px 11px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 19px;
}

.u-section-1 .u-btn-10 {
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 30px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: 25px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 2005px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}