 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/830bc886ea2e3599e2914af29d9bbcd4f2058802d47d092cf74441a2738d9286f2eda96bc79a4e38ec4a94a172b0bdbd114b9d4cf86b4ae169a904_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-1 .u-text-1 {
  font-family: "Ballet 16pt";
  margin: 30px 24px 0;
}

.u-section-1 .u-list-1 {
  width: 806px;
  margin: 30px 24px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 905px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  margin: 11px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 160px;
  height: 216px;
  margin: 12px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 649px;
  height: auto;
  width: 274px;
  background-image: linear-gradient(#fef9e6, #adf6f2);
  margin: -905px auto 60px 17px;
}

.u-section-1 .u-container-layout-10 {
  padding: 12px 11px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 19px;
}

.u-section-1 .u-btn-10 {
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 51px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 902px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: 25px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 2014px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}