 .u-section-1 {
  background-image: url("images/aplicacionesofimaticas5.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1131px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: "Ballet 16pt";
  margin: 23px auto 0;
}

.u-section-1 .u-list-1 {
  width: 805px;
  margin: 23px 19px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 898px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 227px;
  height: 227px;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 227px;
  height: 227px;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 227px;
  height: 227px;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 227px;
  height: 227px;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 227px;
  height: 227px;
  margin: 14px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 649px;
  height: auto;
  width: 274px;
  background-image: linear-gradient(#fef9e6, #adf6f2);
  margin: -898px auto 60px 19px;
}

.u-section-1 .u-container-layout-6 {
  padding: 12px 11px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 19px;
}

.u-section-1 .u-btn-6 {
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-family: "RocknRoll One";
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 25px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}